.text-truncate {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-desbordamiento {
    overflow-x: auto;
}

.textoMonto span {
    display: block;
}

.textoMonto td::first-letter {
    text-transform: uppercase;
}

.textoMonto td:not(::first-letter) {
    text-transform: lowercase;
}

.degradado-borde {
    box-shadow: inset 0px 0.008em 0px 0px #000000;
    // padding-bottom: 1px;
    /* Ajusta este valor según el espacio que desees para el degradado */
}