.text-truncate {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-desbordamiento {
    overflow-x: auto;
}

.textoMonto span {
    display: block;
}

.textoMonto td::first-letter {
    text-transform: uppercase;
}

.textoMonto td:not(::first-letter) {
    text-transform: lowercase;
}

.degradado-borde {
    box-shadow: inset 0px 0.008em 0px 0px #000000;
    // padding-bottom: 1px;
    /* Ajusta este valor según el espacio que desees para el degradado */
}

@keyframes fadeInOutDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
        /* Mueve hacia arriba */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Vuelve a la posición original */
    }
}

.fade-in-out-down {
    animation: fadeInOutDown 0.5s ease-in-out;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-out {
    animation: fadeInOut 0.5s ease-in-out;
}

.selected-email {
    background-color: #73b8ff;
}

.selected-whatsapp {
    background-color: #58c506;
    color: white;
}