<div class="main-wrapper" [ngClass]="{
    'expand-menu': expandMenu === 'true' && miniSidebar === 'true',
    'mini-sidebar': miniSidebar === 'true',
    'slide-nav': mobileSidebar === 'true'
}">
    <app-headerclinica [ngClass]="{
        'd-none': sideBarActivePath === false && headerActivePath === false}"></app-headerclinica>
    <app-datanav [ngClass]="{
        'd-none': sideBarActivePath === false && headerActivePath === false}"></app-datanav>
    <router-outlet></router-outlet>

    <div class="sidebar-overlay" [ngClass]="{
  opened: mobileSidebar === 'true'
}"></div>
    <!-- <app-modal></app-modal> -->
</div>