.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-color-type: #fff;
    --bs-table-bg-type: #fffffff;
}

.invoices-form .form-control {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}
