<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a>FARMACIA </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item"><a
                                [routerLink]="ruta.farmacia_iniciocierre_operaciones">INICIO/CIERRE DE OPERACIONES </a>
                        </li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Apertura o Cierre de Caja</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="--bs-gutter-x: -1rem;">
                        <div class="col-md-4 offset-md-2 btn btn-outline-success" style="padding: 15px; position: relative">
                            <p style="top: 50%; position: absolute; left: 50%; transform: translate(-50%, -50%);">APERTURA DE CAJA</p>
                        </div>
                        <div class="col-md-4 btn btn-outline-danger" style="padding: 15px; position: relative">
                            <p style="top: 50%; position: absolute; left: 50%; transform: translate(-50%, -50%);">APERTURA DE CAJA</p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>