.estilo-rojo {
    background-color: rgb(246, 41, 41);
    border: 2px solid rgb(246, 41, 41);
    /* Puedes cambiar este color según tus preferencias */
}

.producto-cambio {
    color: red;
    font-weight: bold;
}

