<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a>SUCURSAL </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Nueva Sucursal</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="registrarSucursal()">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detallar nueva sucursal</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-4">
                                        <div class="form-group local-forms">
                                            <label>NOMBRE <span class="login-danger">*</span></label>
                                            <input class="form-control" formControlName="nombre" type="text" [ngClass]="{
                        'is-invalid': f['nombre'].touched && f['nombre'].invalid
                      }">
                                            <div *ngIf="f['nombre'].touched && f['nombre'].invalid"
                                                class="invalid-feedback">
                                                <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">
                                                    Es necesario que asigne un nombre a la sucursal.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12">
                                        <div class="form-group local-forms">
                                            <label>DIRECCI&Oacute;N <span class="login-danger">*</span></label>
                                            <textarea class="form-control" formControlName="direccion" rows="3"
                                                cols="30" [ngClass]="{
                        'is-invalid':
                          f['direccion'].touched && f['direccion'].invalid
                      }"></textarea>
                                            <div *ngIf="f['direccion'].touched && f['direccion'].invalid"
                                                class="invalid-feedback">
                                                <div
                                                    *ngIf="f['direccion'].errors && f['direccion'].errors['required']">
                                                    Campo "direccion" esta vac&iacute;o.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2"
                                            [disabled]="form.invalid">REGISTRAR</button>
                                        <a class="btn btn-primary cancel-form"
                                            [routerLink]="ruta.sucursal">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>