<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="rutasadministracion.dashboard">DASHBOARD </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Bienvenido a la clínica</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="good-morning-blk">
            <div class="row">
                <div class="col-md-6">
                    <div class="morning-user">
                        <h2>Good Morning, <span>{{usuarionombre}}</span></h2>
                        {{rutasadministracion.dashboard}}
                        <p>Ten un buen dia</p>
                        <p>dashboard works!</p>
                    </div>
                </div>
                <div class="col-md-6 position-blk">
                    <div class="morning-img">
                        <img src="assets/img/morning-img-01.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12  col-xl-4">
                <div class="card top-departments">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Top Departments</h4>
                    </div>
                    <div class="card-body">
                        <div class="activity-top">
                            <div class="activity-boxs comman-flex-center">
                                <img src="assets/img/icons/dep-icon-01.svg" alt="">
                            </div>
                            <div class="departments-list">
                                <h4>General Physician</h4>
                                <p>35%</p>
                            </div>
                        </div>
                        <div class="activity-top">
                            <div class="activity-boxs comman-flex-center">
                                <img src="assets/img/icons/dep-icon-02.svg" alt="">
                            </div>
                            <div class="departments-list">
                                <h4>Dentist</h4>
                                <p>24%</p>
                            </div>
                        </div>
                        <div class="activity-top">
                            <div class="activity-boxs comman-flex-center">
                                <img src="assets/img/icons/dep-icon-03.svg" alt="">
                            </div>
                            <div class="departments-list">
                                <h4>ENT</h4>
                                <p>10%</p>
                            </div>
                        </div>
                        <div class="activity-top">
                            <div class="activity-boxs comman-flex-center">
                                <img src="assets/img/icons/dep-icon-04.svg" alt="">
                            </div>
                            <div class="departments-list">
                                <h4>Cardiologist</h4>
                                <p>15%</p>
                            </div>
                        </div>
                        <div class="activity-top mb-0">
                            <div class="activity-boxs comman-flex-center">
                                <img src="assets/img/icons/dep-icon-05.svg" alt="">
                            </div>
                            <div class="departments-list">
                                <h4>Opthomology</h4>
                                <p>20%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>