.dropdown-menu.dropdown-menu-end {
    border-radius: 50px 10px 50px 50px;
}

.edit-link {
    border-radius: 50px 10px 50px 50px;
    color: initial;
    /* Establece el color de texto predeterminado */
    transition: background-color 0.3s, color 0.3s;
    /* Agrega una transición suave para el cambio de color */
    /* Estilos predeterminados */
    background-color: transparent;
}

.edit-link:hover {
    border-radius: 50px 10px 50px 50px;
    background-color: #2e37a4;
    /* Cambia el color de fondo cuando el mouse está sobre el enlace */
    color: white;
    /* Cambia el color del texto a blanco cuando el mouse está sobre el enlace */
}