<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a>LOG&Iacute;STICA </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item"><a [routerLink]="ruta.logistica_proveedor">PROVEEDORES </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Nuevo Proveedor</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="registrarProveedor()">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detallar nuevo Proveedor</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 col-xl-3">
                                        <div class="form-group local-forms">
                                            <label>TIPO DE DOCUMENTO <span class="login-danger">*</span></label>
                                            <mat-select [(ngModel)]="selectedValue" formControlName="documento"
                                                class="form-control select" placeholder="Seleccione">
                                                <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                                    {{data.value}}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-4">
                                        <div class="form-group local-forms">
                                            <label>NUMERO DE DOCUMENTO<span class="login-danger">*</span></label>
                                            <input class="form-control" formControlName="numero" type="text" (input)="validarNumeroDocumento($event)"
                                                placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>RAZON SOCIAL <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="nombre" (input)="mayusc('nombre')" type="text"
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>CORREO ELECTR&Oacute;NICO <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="email" type="email" (input)="mayusc('email')" 
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-xl-12">
                                    <div class="form-group local-forms">
                                        <label>DIRECCI&Oacute;N <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="direccion" (input)="mayusc('direccion')" type="text"
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>DESCRIPCI&Oacute;N <span class="login-danger">*</span></label>
                                        <textarea class="form-control" formControlName="descripcion" rows="3" (input)="mayusc('descripcion')" 
                                            cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>REPRESENTANTE DE VENTAS <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="representante" type="text" (input)="mayusc('representante')" 
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>TEL&Eacute;FONO <span class="login-danger">*</span></label>
                                        <input class="form-control" formControlName="telefono"
                                        type="text" (input)="validarTelefono($event)"
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2"
                                            [disabled]="form.invalid">REGISTRAR</button>
                                        <a class="btn btn-primary cancel-form"
                                            [routerLink]="ruta.farmacia_cliente">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>